* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  /*background-image: url('./img/background-image.jpg');*/
  background-position: fixed;
  font-weight: 300;
  font-size: 100%;
  background-repeat: repeat;
  padding: 1rem;
}

p {
  display: inline;
}

li {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  flex-direction: column;
}

.header p:first-child {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 300;
  font-style: italic;
}

.header p:last-child {
  font-weight: 300;
  font-size: 1.2rem;
}

.app-wrapper {
  width: 799px;
  margin: auto;
  background-color: #fff;
  max-width: 100%;
  padding: 2rem;
}

.statistics p {
  display: block;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

.statistics p span {
  font-size: 1.5em;
}

.statistics h2 {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 2rem;
}

.input-component {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-gap: 0.5rem;
  padding-bottom: 2rem;
}

.input-component input {
  height: 3rem;
  border-radius: 1.5rem;
  outline: none;
  border: none;
  padding-left: 2rem;
  font-size: 1.1rem;
  background-color: rgb(233, 233, 233);
}

.input-component button {
  font-size: 1rem;
}

.input-component button:focus {
  border: 1px solid black;
}

button {
  border: none;
  border-radius: 3rem;
  padding: 0.3rem;
  cursor: pointer;
  box-sizing: border-box;
  color: #fff;
  background: #87e0fd; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #87e0fd 0%,
    #53cbf1 40%,
    #05abe0 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #87e0fd 0%,
    #53cbf1 40%,
    #05abe0 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #87e0fd 0%,
    #53cbf1 40%,
    #05abe0 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}

button:focus {
  outline: none;
}

button:active {
  font-weight: bold;
}

.task-item {
  display: grid;
  width: 100%;
  grid-template-columns: 0.1fr 0.7fr 0.1fr 0.1fr;
  grid-gap: 0.5rem;
  border-bottom: 1px solid rgb(207, 207, 207);
  padding: 0.4rem;
  align-items: center;
  font-size: 1rem;
}

.edit-item {
  grid-template-columns: 0.9fr 0.1fr;
}

.edit-item input {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding-left: 1rem;
}

.section {
  margin-bottom: 5rem;
}

.datumek {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.hide-completed {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.hide-completed button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

.hide-completed button:first-child {
  margin-right: 0.5rem;
}
